@media (max-width:1000px){
	.contact{
		width:50%;
		margin-bottom: 50px;
	}
}

@media (max-width:670px){
	.header-list{
		display:none;
	}

	.contact{
		width:100%;
	}

	.btn{
		width:100%;
	}

	.menu-icon{
		display:block;
	}

	.submit{
		width:100%;
	}

	.message{
		width:100%;
	}
}
