* {
  box-sizing: border-box;
}

header{
  height: 65px;
  width: 100%;
  background-color: #776865;
  font-size: 15px;
  font-family: serif;
  color: #fff;
  height: 45px;
}

.header-list{
  display: block;
}

.header-list:hover {
  background-color: #685a57;
}

.header-logo {
  float: left;
  font-size: 19px;
  font-weight: bold;
  padding: 10px 25px;
}

.header-logo:hover {
  background-color: orange;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display:none;
}

li:hover {
  background-color: orange;
}

li {
  list-style: none;
  float: right;
  margin-right: 50px;
  padding: 14px 25px;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.main-content {
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f5f2f2;
  text-align: center;
}

.contact{
  float:left;
  width:25%;
}

.contact-icon img{
  width:100px;
  height:100px;
}

.contact-icon p {
  color: #776865;
  font-weight: bold;
}

.text{
  font-size: 15px;
  color: #776865;
}

.heading {
  padding-top: 60px;
  padding-bottom: 10px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
  border-bottom: 1px solid #776865;
}

.message-wrapper {
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #f7d291;
  cursor: pointer;
  box-shadow: 0 7px #ffa500;
  animation-name: example;
  animation-duration: 7s;
}

@keyframes example {
  from {background-color: #f7d291;}
  to {background-color: #ffa500;}
}

.message:active {
  position: relative;
  top: 6px;
  box-shadow: none;
}

.footer-left img {
  width: 45px;
  margin-top: 5px;
}

.footer-right img{
  width:140px;
  height:40px;
}

footer p {
  padding-top: 70px;
  color: #ffffff;
  font-size: 14px;
}

footer {
  height: 110px;
  width: 100%;
  background-color: #685a57;
}

.footer-left{
  margin-top: 10px;
  float:left;
}

.footer-right{
  margin-top: 10px;
  float:right;
}

.clear {
  clear: left;
}
